.rating
    display: flex
    flex-direction: row-reverse
    justify-content: center

.star
    list-style: none
    margin: 0 5px
    cursor: pointer

.fa-star
    color: #ccc

&:hover,
&.checked
&
    color: #ffcc00
