.best-section
  &__content
    width: fit-content
    margin: 0 auto
    display: grid
    grid-template-columns: repeat(2, 1fr)
    justify-items: center
    gap: 3rem

.hero-banner
  height: 25rem
  display: flex
  align-items: center
  padding: 0 6.25rem
  &__img
    height: 12vw
  &__content
    font-size: 3vw
    width: 50%
    margin: 0 0 0 auto

.text-presentation
  padding: 0 12.5rem
  &::before, &::after
    content: ''
    display: block
    height: 1px
    width: 70%
    background-color: $secondary-color
    margin: 3rem auto

@media screen and (max-width: $breakpoint-small-desktop)
  .best-section
    &__content
      grid-template-columns: 1fr
      gap: 2rem

@media screen and (max-width: $breakpoint-tablet)
  .hero-banner
    height: 20rem
    padding: 0 3.125rem
    &__content
      font-size: 4vw

  .text-presentation
    padding: 0 6.25rem

@media screen and (max-width: $breakpoint-phone)
  .hero-banner
    height: 15rem
    padding: 0 1.25rem
    text-align: center
    &__img
      display: none
    &__content
      width: 100%
      font-size: 7vw

  .text-presentation
    padding: 0 1.25rem