.small-text
  font-size: .825rem

.important-title
  font-family: $font-family-heading
  font-size: 2.5rem
  font-weight: 500
  padding-bottom: 3.2rem

.center-title
  text-align: center

.text-and-svg
  display: flex
  align-items: flex-start
  gap: 0.5rem

.center-btn
  display: block
  margin: 0 auto

.error-message
  color: $error-color
  font-size: 1.2rem
  font-weight: 500
  margin-top: 1rem