.card-display
  height: fit-content
  max-height: 100vh
  overflow-y: scroll
  overflow-x: hidden
  &__pagination
    position: relative
    height: 100px

.fade-scroll
  position: absolute
  width: 100%
  top: -42px
  height: 68px